:root {
  --rules-page-margin-top: 1.875rem;
  --rules-page-margin-bottom: 6.25rem;

  --rules-block-border-width: 0.125rem;
  --rules-block-border-radius: 0.5rem;
  --rules-block-max-width: 56.25rem;
  --rules-block-padding-top: 1rem;
  --rules-block-padding-right: 3.125rem;
  --rules-block-padding-bottom: 3.125rem;
  --rules-block-padding-left: 3.125rem;

  --rule-header-margin-top: 1rem;
  --rule-header-margin-right: 1rem;
  --rule-header-margin-bottom: 1rem;
  --rule-header-margin-left: 1rem;

  --rules-content-row-gap: 1.25rem;

	--rule-title-font-size: 1.5rem;
  --rule-title-margin-left: -1.25rem;

  --rule-name-font-size: 1.13rem;
  --rule-name-margin-top: 0.75rem;

  --rule-desc-font-size: 1.0625rem;
  --rule-desc-margin-left: 1rem;
}