:root {
  --discord-badge-height: 7.25rem;
  --discord-badge-width: 27rem;
  --discord-badge-border-radius: 0.5rem;
  --discord-badge-border-width: 0.0625rem;
  --discord-badge-padding: 1.125rem;

  --discord-invite-header-font-size: 1rem;
  --discord-invite-header-line-height: 1.25rem;
  --discord-invite-header-margin-bottom: 0.75rem;

  --discord-invite-contents-column-gap: 1.25rem;
	--discord-invite-contents-margin-vertical: 0px; 
  --discord-invite-contents-margin-horizontal: 0.75rem;

	--discord-invite-bottom-column-gap: 1rem;
  --discord-invite-bottom-height: 3.125rem;

	--discord-invite-badge-image-width: 3.125rem;
  --discord-invite-badge-image-border-radius: 1rem;

	--discord-invite-server-name-font-size: 1.5rem;

	--discord-join-button-font-size: 0.875rem;
  --discord-join-button-border-radius: 0.5rem;
	--discord-join-button-height: 2.5rem;
	--discord-join-button-width: 4.6875rem;
	--discord-join-button-margin-left: 0.5rem;
}