:root {
  --server-list-table-border-width: 0.125rem;
  --server-list-table-margin: 1rem;

	--server-list-th-border-width: 0.0625rem;
  --server-list-th-padding-top: 0.3125rem;
  --server-list-th-padding-right: 0.5rem;
  --server-list-th-padding-bottom: 0.3125rem;
  --server-list-th-padding-left: 0.3125rem;

	--server-list-tr-margin-vertical: 1rem;
	--server-list-tr-margin-horizontal: 2rem;

	--server-list-td-border-width: 0.0625rem;
  --server-list-td-padding-vertical: 0rem;
  --server-list-td-padding-horizontal: 0.5rem;

	--server-list-connect-button-font-size: 1rem;
  --server-list-connect-button-border-radius: 0.25rem;
  --server-list-connect-button-margin-vertical: 0.25rem;
  --server-list-connect-button-margin-horizontal: 0.5rem;
  --server-list-connect-button-padding-vertical: 0.5rem;
  --server-list-connect-button-padding-horizontal: 1rem;
}